<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<div class="container">
    <h1 class="mt-5">Bem-vindo a página de animações!</h1>

<hr>

<h3 class="mt-4">Lista de animações:</h3>


<table class="mt-4 table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título:</th>
            <th>Ano:</th>
            <th>Duração:</th>
        </tr>
    </thead>
    <tbody>
        <!--forEach-->
        <% animacoes.forEach(animacao => { %>
            <tr>
                <td><%= animacao.titulo %></td>
                <td><%= animacao.ano %></td>
                <td><%= animacao.duracao %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<br>

<button href="/" type="button" class="btn btn-secondary">Voltar</button>

<br><br>
</div>
<%- include ('partials/footer.ejs') %>