<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<div class="container">
    <h1 class="mt-5">Bem-vindo a página de séries!</h1>

<hr>

<h3 class="mt-4">Lista de séries:</h3>


<table class="mt-4 table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título:</th>
            <th>Ano de estreia:</th>
            <th>Duração (por episódio):</th>
        </tr>
    </thead>
    <tbody>
        <!--forEach-->
        <% series.forEach(serie => { %>
            <tr>
                <td><%= serie.titulo %></td>
                <td><%= serie.ano %></td>
                <td><%= serie.duracao %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<br>

<button href="/" type="button" class="btn btn-secondary">Voltar</button>

<br><br>
</div>
<%- include ('partials/footer.ejs') %>